@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  background-color: #424242;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Jua', sans-serif;
}

#wrap{
  width: 700px;
  height: 480px;
  border: 5px solid white;
  border-radius: 1em;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

#login_form{
  margin-top: 50px;
}

h1{
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 55px;
}

input {
  margin-bottom: 20px;
  padding-left: 15px;
  width: 350px;
  height: 40px;
  font-size: 25px;
  border: 3px solid white;
  background-color: #424242;
  border-radius: 0.5em;
  color: white;
  font-family: 'Jua', sans-serif;
  letter-spacing: 1px;
}

button{
  margin-bottom: 20px;
  width: 170px;
  height: 48px;
  font-size: 25px;
  border: 3px solid white;
  background-color: #424242;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Jua', sans-serif;
  vertical-align: middle;
  letter-spacing: 2px;
}

button:hover{
  margin-bottom: 20px;
  width: 200px;
  height: 55px;
  font-size: 32px;
  border: 3px solid #848484;
  background-color: white;
  border-radius: 0.5em;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Jua', sans-serif;
  vertical-align: middle;
  letter-spacing: 2px;
}
