body {
  margin: 0;
}
.button{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
}

.button:hover{
  background-color: pink;
  border: 4px solid hotpink;
  color: red;
  font-size:15px;
  font-weight:bold;
}
#day_night{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  position: fixed;
}
#day_night:hover{
  background-color: #424242;
  color: white;
  font-size:15px;
  font-weight:bold;
  position: fixed;
}
a {
  color: black;
  text-decoration: none;
}
.link {
  color: #FF4000;
}
.link1 {
  color: #FF4000;
}
.link2 {
  color: #FF4000;
}
.link3 {
  color: #FF4000;
}
.link4 {
  color: #FF4000;
}
.link5 {
  color: #FF4000;
}
.link6 {
  color: #FF4000;
}
.link7 {
  color: #FF4000;
}
.link8 {
  color: #FF4000;
}
.link9 {
  color: #FF4000;
}
.link10 {
  color: #FF4000;
}
.link11 {
  color: #FF4000;
}
.link12 {
  color: #FF4000;
}
.link13 {
  color: #FF4000;
}
.link14 {
  color: #FF4000;
}
.link15 {
  color: #FF4000;
}
.active {
  color: white;
  background-color: #424242;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
h1 {
  font-size:70px;
  text-align: center;
  border-bottom:3px solid;
  margin:0;
  padding:20px;
}
#grid ol{
  border-right:3px solid;
  width:220px;
  margin:0;
  padding:40px;
}
#grid{
  display: grid;
  grid-template-columns: 310px 2fr;
}
#pic{
  text-align: center;
}
@media(max-width:890px) {
  #grid{
    display: block;
  }
  #grid ol{
    border-right:none;
  }
}
