@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  color: white;
  font-family: 'Jua', sans-serif;
  background-color: #424242;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  letter-spacing: 1.5px;
  line-height: 40px;
}

a{
  text-decoration: none;
  color: #F2F5A9;
}

h1{
  border: 7px solid white;
  color: #424242;
  border-radius: 0.4em;
  background-color: white;
  color: #424242;
  display: inline-block;
  padding-bottom: 14px;
  padding-top: 18px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2{
  border-bottom: 7px solid white;
  border-top: 7px solid white;
  width: auto;
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 14px;
  vertical-align: middle;
}

.goupbtn{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 110px;
  border-radius: 10px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.godwbtn{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 40px;
  border-radius: 10px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.goupbtn:hover{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 110px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  cursor: pointer;
  font-size: 27px;
  color: white;
  text-align: center;
}

.godwbtn:hover{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 40px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  cursor: pointer;
  font-size: 27px;
  color: white;
  text-align: center;
}

.colorscripter-code{
  font-size: 13px;
}
