@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  color: white;
  font-family: 'Jua', sans-serif;
  background-color: #424242;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 40px;
}

.goupbtn{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 110px;
  border-radius: 10px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.godwbtn{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 40px;
  border-radius: 10px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

.goupbtn:hover{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 110px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  cursor: pointer;
  font-size: 27px;
  color: white;
  text-align: center;
}

.godwbtn:hover{
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 40px;
  background-color:transparent;
  border: white 3px solid;
  position: fixed;
  cursor: pointer;
  font-size: 27px;
  color: white;
  text-align: center;
}
