@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
  font-family: 'Jua', sans-serif;
  letter-spacing: 0.5px;
}
#day_night{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  border-radius:8px;
  cursor: pointer;
}
#day_night:hover{
  background-color: #424242;
  color: white;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  cursor: pointer;
}
.heman{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  border-radius:10px;
  font-family: 'Jua', sans-serif;
  cursor: pointer;
}
.heman:hover{
  background-color: pink;
  border: 4px solid hotpink;
  color: red;
  font-size:15px;
  font-weight:bold;
  border-radius:20px;
  font-family: 'Jua', sans-serif;
  cursor: pointer;
}
.tab{
  color: #A4A4A4;
}
#pic{
  text-align: center;
}
#생활코딩{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  border-radius:8px;
  cursor: pointer;
}
#생활코딩:hover{
  background-color: #424242;
  color: white;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  cursor: pointer;
}
#메인으로{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  border-radius:8px;
  cursor: pointer;
}
#메인으로:hover{
  background-color: #424242;
  color: white;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  cursor: pointer;
}
#다른곳{
  background-color: white;
  color: black;
  border: 4px solid #424242;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  border-radius:8px;
  cursor: pointer;
}
#다른곳:hover{
  background-color: #424242;
  color: white;
  font-size:15px;
  font-weight:bold;
  position: fixed;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}
h1{
  font-size:50px;
  text-align: center;
  border-bottom:3px solid;
  margin:0;
  padding:20px;
}
/*
.menu:hover{
  color: #0431B4;
}
*/
h3{
  text-align: center;
}
#grid ul{
  border-right:3px solid;
  width:300px;
  margin:0;
  padding:40px;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#article{
  text-align: center;
}
@media(max-width:890px){
  #grid{
    display: block;
  }
  #grid ul{
    border-right:none;
  }
}
#disqus_thread{
  font-family: 'Jua', sans-serif;
}
